@charset "UTF-8";
// 主色
$blue: #409EFF;

// 辅助色
$success: #67C23A;
$warning: #E6A23C;
$danger: #F56C6C;
$info: #909399;

// 文字色
$textColor1: #303133; // 主要文字
$textColor2: #606266; // 常规文字
$textColor3: #909399; // 次要文字
$textColor4: #C0C4CC; // 占位文字

// 边框色
$bdColor1: #DCDFE6; // 一级边框
$bdColor2: #E4E7ED; // 二级边框
$bdColor3: #EBEEF5; // 三级边框
$bdColor4: #F2F6FC; // 四级边框
